/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 13, 2022, 11:28:01 PM
    Author     : lluis
*/
/*temporal solo para diferenciar*/
.primary-color{
    -fx-background-color: #13123A;
}

.secondary-color{
    -fx-background-color: #00002C;
}

.selected-border{
    -fx-background-color: #fff;
    -fx-border-width: 0 3 0 0;
}

.selected:hover{
    -fx-background-color: #3C3D5B;
}

.button{
    -fx-border-width: 0 0 0 0;
}