/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 10, 2022, 1:30:24 PM
    Author     : lluis
*/
#bp{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #13123a, #ffffff);
}

#top{
    -fx-background-color: #13123a;
}

.button{
    -fx-border-width: 0 0 0 0;
    -fx-background-color: #00FFC5;
    -fx-font-size: 15;
}

.label{
    -fx-text-fill: #00FFC5;
}